// COLORS
//Choose color palette ==> https://www.materialpalette.com/

$primary-color: #fff;
$dark-primary-color: #2CB2BE;
$light-primary-color: #B2EBF2;
$accent-color: #00BCD4;
$text_icons: #fff;
$primary-text: #212121;

$content-bg: rgba(255, 255, 255, 0.8);

$header-footer-bg: #2CB2BE;